body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color:black;
}

.base-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

main {
    width: 76vw;
    height: 100%;
    margin: 0 2vw;
}
form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 12.5% 12.5% 10% 10% 10% 10% 10% 25%;
    margin: 0;
    height: 100%;
    align-items: center;
}

form h1{
    align-self: center;
    font-size: 4rem;
    grid-area: 1 / 1 / 2 / 4;
}
h2{
    font-size: 2rem;
}

#h1{
    grid-area: 2/1/3/2;
}

#h2{
    grid-area: 2/2/3/3;
}

#h3{
    grid-area: 2/3/3/4;
}

.food{
    grid-row: 3/4;
}
.entertainment{
    grid-row: 4/5;
}
.education{
    grid-row: 5/6;
}
.transport{
    grid-row: 6/7;
}

.name{
    grid-column: 1/2;
}
.current{
    grid-column: 2/3;
}
.new{
    grid-column: 3/4;
}

p{
    font-size: 1.5rem;
}
input{
    border: none;
    border-bottom: 1px solid #969696;
    font-size: 1.5rem;
    width: 40%;
}

#save{
    grid-area: 7/1/8/2;
    background-color: #FFD702;
    color: black;
    border-radius: 20px;
    font-weight: 700;
    font-size: 1.25rem;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-device-width: 420px) {
    main {
        width: 100vw;
        height: 85%;
    }
    form{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 10% 7.5% 7.5% 7.5% 7.5% 7.5%  7.5% 1fr;
        margin: 0;
        height: 100%;
        align-items: center;
    }
    main h1{
        align-self: start;
        font-size: 4rem;
    }
    main p{
        font-size: 2.5rem;
    }
    .name{
        margin-right: 80px;
    }
    main h2{
        font-size: 3rem;

    }

    input{
        border: none;
        border-bottom: 1px solid #969696;
        font-size: 2.5rem;
        width: 75%;
    }


    #save{
        font-weight: 700;
        font-size: 2.25rem;
        width: 60%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

}
