body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color:black;
}

.base-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

main {
    width: 76vw;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 12.5% 12.5% 75%;
    align-items: center;
    margin: 0 2vw;
}

main h1{
    align-self: center;
    font-size: 4rem;
    grid-area: 1 / 1 / 2 / 4;
}

form{
    grid-area: 3/1/4/4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 15% 15% 15% 15% 40%;
    align-self: start;
}

.limit-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.food{
    grid-area: 1/1/2/4;
}

.entertainment{
    grid-area: 2/1/3/4;
}

.education{
    grid-area: 3/1/4/4;
}

.transport{
    grid-area: 4/1/5/4;
}

h2{
    font-size: 2rem;
}

#h1{
    grid-area: 2/1/3/2;
}

#h2{
    grid-area: 2/2/3/3;
}

#h3{
    grid-area: 2/3/3/4;
}

name{
    grid-column: 1/2;
}
p{
    font-size: 1.5rem;
}
input{
    border: none;
    border-bottom: 1px solid #969696;
    font-size: 1.5rem;
    width: 40%;
}

#save{
    grid-area: 7/1/8/2;
    background-color: #FFD702;
    color: black;
    border-radius: 20px;
    font-weight: 700;
    font-size: 1.25rem;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
