body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color:black;
}
nav{
    border-radius: 0px 40px 40px 0px;
    width: 400px;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    margin: 1rem auto;
    position: relative;
}

nav > h1{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;
}

span{
    color: #FFD702;
}

main{
    width: 80vw;
}

button{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    width: 100%;
    border: none;
    background-color: black;
    color: white;
    line-height: 2.5rem;
    border-radius: 20px;
    font-weight: 700;
    font-size: 1.25rem;
    text-align: left;
}
button img{
    padding-right: 20px;
}
.logout{

}

ul{
    list-style-type: none;
    text-align: left;
    margin: 2rem;
    padding: 0;
}

.new-transaction button{
    justify-content: center;
    background-color: #FFD702;
    color: black;
    text-align: center;
}
nav li:last-child button{
    margin-bottom: 25px;
    position: absolute;
    bottom: 0;
    width:80%;

}

li i{
    font-size: 1.5rem;
    margin-right: 1vw;
}