body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color:white;
}

.container{
    background-color: black;
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 50px 50px 0;
}

h1{
    text-align: center;
    font-weight: 800;
    font-size: 55px;
    line-height: 80px;
    margin-bottom: 50px;
}

a{
    color: #FFD702;
    text-decoration: none;

}
span{
    color: #FFD702;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.input-container{
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.input-container img{
    padding: 20px 0;
    min-width: 20px;
    min-height: 20px;
    text-align: center;

}

input{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    background-color: transparent;
    border: none;
    padding: 10px;
    width:100%;
    border-bottom: 1px solid #969696;
    color: white;
}

p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    margin:0;
    text-align: left;
}

button{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    background-color: #FFD702;
    border: none;
    color: black;
    line-height: 2.5em;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
}

@media only screen and (max-device-width: 420px) {
    .container{
        width: 100%;
        border-radius: 0;
    }

    h1{
        font-size: 100px;
        margin-bottom: 150px;
    }

    .input-container{
        padding: 20px;
    }

    .input-container img{
        height: 32px;
        width: 32px;
    }
    input{
        font-size: 40px;
    }
    
    button{
        font-size: 35px;
    }
    p{
        margin-top: 30px;
        font-size: 25px;
    }
}